<header class="app-header">
  <div class="app-header__icon">
    <i class="fas fa-chart-area"></i>
  </div>
  <div class="app-header__text">
    <h2 class="app-header__heading">Товар</h2>
    <p class="app-header__description">Список комиссионных сборов</p>
  </div>
  <a class="btn btn-info text-white ms-auto py-2 px-3" routerLink="/cabinet/create-commission">Добавить комиссионные</a>
</header>

<main class="app-main">
  <div class="app-card app-card--users">
    <div class="data-filter">
      <div class="data-filter__part">
        <label for="count">На одной странице: </label>
        <select class="form-control" name="count" id="count">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="data-filter__part">
        <label for="search">Поиск: </label>
        <input class="form-control" id="search" type="text">
      </div>
    </div>
    <table class="data-table table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>Тип комиссии</th>
        <th>Комиссия</th>
        <th>Описание</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>TulparTalgo</td>
        <td>38000</td>
        <td>На межгосударственный поезд Тульпар Тальго 001/002 (Алматы-Ташкент-Алматы)</td>
        <td>
          <a class="data-action data-action--edit" href="#" title="Изменить">
            <i class="fas fa-edit"></i>
          </a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Тип комиссии</th>
        <th>Комиссия</th>
        <th>Описание</th>
        <th>Действие</th>
      </tr>
      </tfoot>
    </table>
    <div class="data-total">
      <div class="data-total__part">
        10 комиссионные сборы на каждой странице. Общее количество комиссионных сборов 234423
      </div>

      <div class="data-total__part">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Предыдущий</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Следующий</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>
