<header class="app-header">
  <div class="app-header__icon">
    <i class="fas fa-bookmark"></i>
  </div>
  <div class="app-header__text">
    <h2 class="app-header__heading">Таблица заказов с ошибкой оплаты</h2>
    <p class="app-header__description">Жд веб сайты зарегистрированные заказов</p>
  </div>
</header>

<main class="app-main">
  <div class="app-card app-card--users">
    <div class="data-filter">
      <div class="data-filter__part">
        <label for="count">На одной странице: </label>
        <select class="form-control" name="count" id="count">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="data-filter__part">
        <label for="search">Поиск: </label>
        <input class="form-control" id="search" type="text">
      </div>
    </div>
    <table class="data-table table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>ID заказа</th>
        <th>ID Express</th>
        <th>ID платежа</th>
        <th>Дата создания</th>
        <th>Тип оплаты</th>
        <th>Общая сумма</th>
        <th>Отработанный возврат</th>
        <th>Имя пользователя</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>70375205993306</td>
        <td>93c78869-51fb-4515-b06d-746d18648b82</td>
        <td>2022-01-14 15:33:32</td>
        <td>
          <div class="badge bg-success">
            PAYME
          </div>
        </td>
        <td>195,350 сум</td>
        <td>false</td>
        <td>998901991212</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>70375205993306</td>
        <td>93c78869-51fb-4515-b06d-746d18648b82</td>
        <td>2022-01-14 15:33:32</td>
        <td>
          <div class="badge bg-success">
            PAYME
          </div>
        </td>
        <td>195,350 сум</td>
        <td>false</td>
        <td>998901991212</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>70375205993306</td>
        <td>93c78869-51fb-4515-b06d-746d18648b82</td>
        <td>2022-01-14 15:33:32</td>
        <td>
          <div class="badge bg-success">
            PAYME
          </div>
        </td>
        <td>195,350 сум</td>
        <td>false</td>
        <td>998901991212</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>70375205993306</td>
        <td>93c78869-51fb-4515-b06d-746d18648b82</td>
        <td>2022-01-14 15:33:32</td>
        <td>
          <div class="badge bg-success">
            PAYME
          </div>
        </td>
        <td>195,350 сум</td>
        <td>false</td>
        <td>998901991212</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>70375205993306</td>
        <td>93c78869-51fb-4515-b06d-746d18648b82</td>
        <td>2022-01-14 15:33:32</td>
        <td>
          <div class="badge bg-success">
            PAYME
          </div>
        </td>
        <td>195,350 сум</td>
        <td>false</td>
        <td>998901991212</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>70375205993306</td>
        <td>93c78869-51fb-4515-b06d-746d18648b82</td>
        <td>2022-01-14 15:33:32</td>
        <td>
          <div class="badge bg-success">
            PAYME
          </div>
        </td>
        <td>195,350 сум</td>
        <td>false</td>
        <td>998901991212</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>70375205993306</td>
        <td>93c78869-51fb-4515-b06d-746d18648b82</td>
        <td>2022-01-14 15:33:32</td>
        <td>
          <div class="badge bg-success">
            PAYME
          </div>
        </td>
        <td>195,350 сум</td>
        <td>false</td>
        <td>998901991212</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tbody>
      <tfoot>
      <tr>
        <th>ID заказа</th>
        <th>ID Express</th>
        <th>ID платежа</th>
        <th>Дата создания</th>
        <th>Тип оплаты</th>
        <th>Общая сумма</th>
        <th>Отработанный возврат</th>
        <th>Имя пользователя</th>
        <th>Действие</th>
      </tr>
      </tfoot>
    </table>
    <div class="data-total">
      <div class="data-total__part">
        10 заказов на каждой странице. Общее количество заказов 234
      </div>
      <div class="data-total__part">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Предыдущий</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Следующий</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>

