<header class="app-header">
  <div class="app-header__icon">
    <i class="fas fa-concierge-bell"></i>
  </div>
  <div class="app-header__text">
    <h2 class="app-header__heading">Таблица счет-фактуры</h2>
    <p class="app-header__description">Успешно созданные счета-фактуры на веб-сайте Жд</p>
  </div>
</header>

<main class="app-main">
  <div class="app-card app-card--users">
    <div class="data-filter">
      <div class="data-filter__part">
        <label for="count">На одной странице: </label>
        <select class="form-control" name="count" id="count">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="data-filter__part">
        <label for="search">Поиск: </label>
        <input class="form-control" id="search" type="text">
      </div>
    </div>
    <table class="data-table table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>ID СФ</th>
        <th>Номер счет фактуры</th>
        <th>Дата счет фактуры</th>
        <th>Номер контракта</th>
        <th>Дата контракта</th>
        <th>ИНН покупателя</th>
        <th>ID из 3-й части</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c175dd8c-dc1e-48be-9615-42a1940c795f</td>
        <td>ET/70575205996961</td>
        <td>2022-01-14 17:06:08</td>
        <td>70575205996961</td>
        <td>2022-01-14 16:52:26</td>
        <td>206211534</td>
        <td>9620c43ee8164818ab24e8f9b1645be1</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>ID СФ</th>
        <th>Номер счет фактуры</th>
        <th>Дата счет фактуры</th>
        <th>Номер контракта</th>
        <th>Дата контракта</th>
        <th>ИНН покупателя</th>
        <th>ID из 3-й части</th>
        <th>Действие</th>
      </tr>
      </tfoot>
    </table>
    <div class="data-total">
      <div class="data-total__part">
        10 счет-фактуры на каждой странице. Общее количество счет-фактуры 234423
      </div>

      <div class="data-total__part">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Предыдущий</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Следующий</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>


