<header class="app-header">
  <div class="app-header__icon">
    <i class="fas fa-cloud"></i>
  </div>
  <div class="app-header__text">
    <h2 class="app-header__heading">Страховые полиса</h2>
    <p class="app-header__description">Список приход товаров</p>
  </div>
  <a class="btn btn-info text-white ms-auto py-2 px-3" routerLink="/cabinet/add-income-product">Добавить приход товар</a>
</header>

<main class="app-main">
  <div class="app-card app-card--users">
    <div class="data-filter">
      <div class="data-filter__part">
        <label for="count">На одной странице: </label>
        <select class="form-control" name="count" id="count">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="data-filter__part">
        <label for="search">Поиск: </label>
        <input class="form-control" id="search" type="text">
      </div>
    </div>
    <table class="data-table table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Поставщик</th>
        <th>Загружено</th>
        <th>Цены</th>
        <th>Дата создания</th>
        <th>Создатель</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      <tr>
        <td>6b4848c0-ed9c-4e5a-a551-85bd2efe5a99</td>
        <td>tystashkent@inbox.uz</td>
        <td>[Страховой полис - JD2020INCUZ: 7000]</td>
        <td>[Страховой полис - JD2020INCUZ: 3000.00]</td>
        <td>2021-12-29 09:42:03</td>
        <td>tystashkent@inbox.uz</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" title="Посмотреть подробно">
            Подробно
          </a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>ID</th>
        <th>Поставщик</th>
        <th>Загружено</th>
        <th>Цены</th>
        <th>Дата создания</th>
        <th>Создатель</th>
        <th>Действие</th>
      </tr>
      </tfoot>
    </table>
    <div class="data-total">
      <div class="data-total__part">
        10 полиса на каждой странице. Общее количество полиса 234423
      </div>

      <div class="data-total__part">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Предыдущий</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Следующий</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>
