.header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  padding: 0 24px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important;
}

.admin-info {
  display: flex;
  align-items: center;
  position: relative;
}

.admin-info__left {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  cursor: pointer;
}

.admin-img {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

.admin-email {
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}

.admin-status {
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.5;
}

.admin-dropdown {
  position: absolute;
  top: 105%;
  left: -176px;
  min-width: 240px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.admin-dropdown__top, .admin-dropdown__bottom {
  padding: 10px 0;
}

.admin-dropdown__top {
  border-bottom: 1px solid #e9ecef;
}

.admin-dropdown__link {
  display: block;
  width: 100%;
  padding: 6px 24px;
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  white-space: nowrap;
  background-color: transparent;
  transition: 0.1s all ease;

  &:hover {
    color: #16181b;
    background-color: #e0f3ff;
  }
}
