<header class="app-header">
  <div class="app-header__icon">
    <i class="fas fa-money-check-alt"></i>
  </div>
  <div class="app-header__text">
    <h2 class="app-header__heading">Таблица платежей</h2>
    <p class="app-header__description">Список Payment Intents</p>
  </div>
</header>

<main class="app-main">
  <div class="app-card app-card--users">
    <div class="data-filter">
      <div class="data-filter__part">
        <label for="count">На одной странице: </label>
        <select class="form-control" name="count" id="count">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="data-filter__part">
        <label for="search">Поиск: </label>
        <input class="form-control" id="search" type="text">
      </div>
    </div>
    <table class="data-table table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>ID Stripe</th>
        <th>ID заказ</th>
        <th>ID платежай</th>
        <th>Сумма платежа</th>
        <th>Статус платежа</th>
        <th>ID пользователя</th>
        <th>Дата</th>
        <th>Доп. информация</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>16e8b03e-a6f2-4f06-97fa-aeda0cd3c958</td>
        <td>70925206370131</td>
        <td>pi_3KKpvcBu5zOI7DDg0cvIxTtP</td>
        <td>£ 30.79</td>
        <td>
          <div class="badge bg-success">SUCCESS</div>
        </td>
        <td>hestherng@gmail.com</td>
        <td>2022-01-23 01:11:15</td>
        <td></td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>

      </tbody>
      <tfoot>
      <tr>
        <th>ID Stripe</th>
        <th>ID заказ</th>
        <th>ID платежай</th>
        <th>Сумма платежа</th>
        <th>Статус платежа</th>
        <th>ID пользователя</th>
        <th>Дата</th>
        <th>Доп. информация</th>
        <th>Действие</th>
      </tr>
      </tfoot>
    </table>
    <div class="data-total">
      <div class="data-total__part">
        10 пользователей на каждой странице. Общее количество пользователей 234423
      </div>

      <div class="data-total__part">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Предыдущий</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Следующий</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>
