<header class="app-header">
  <div class="app-header__icon">
    <i class="fas fa-bookmark"></i>
  </div>
  <div class="app-header__text">
    <h2 class="app-header__heading">Таблица заказов юридических лиц</h2>
    <p class="app-header__description">Успешно созданные счета-фактуры на веб-сайте Жд</p>
  </div>
</header>

<main class="app-main">
  <div class="app-card app-card--users">
    <div class="data-filter">
      <div class="data-filter__part">
        <label for="count">На одной странице: </label>
        <select class="form-control" name="count" id="count">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="data-filter__part">
        <label for="search">Поиск: </label>
        <input class="form-control" id="search" type="text">
      </div>
    </div>
    <table class="data-table table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>ID пользователя</th>
        <th>ID заказа</th>
        <th>Наименования</th>
        <th>Дата отправки</th>
        <th>Откуда</th>
        <th>Куда</th>
        <th>Количество пассажиров</th>
        <th>Номер заказа</th>
        <th>Номер поезда</th>
        <th>Тип поезда</th>
        <th>Тип оплаты</th>
        <th>Дата создания</th>
        <th>Дата обновления</th>
        <th>Статус заказа</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>5d4291af-0849-44b2-b6bb-e2124cb191e3</td>
        <td>СП ООО "O'ZMALOYL"</td>
        <td>20/12/2021</td>
        <td>САМАРКАНД</td>
        <td>ТАШКЕНТ</td>
        <td>2</td>
        <td>2122</td>
        <td>760Ф(СКРСТ)</td>
        <td>Эконом</td>
        <td>Безналичному</td>
        <td>2021-12-09 10:36:03</td>
        <td>2021-12-09 10:36:03</td>
        <td>InProcess</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>5d4291af-0849-44b2-b6bb-e2124cb191e3</td>
        <td>СП ООО "O'ZMALOYL"</td>
        <td>20/12/2021</td>
        <td>САМАРКАНД</td>
        <td>ТАШКЕНТ</td>
        <td>2</td>
        <td>2122</td>
        <td>760Ф(СКРСТ)</td>
        <td>Эконом</td>
        <td>Безналичному</td>
        <td>2021-12-09 10:36:03</td>
        <td>2021-12-09 10:36:03</td>
        <td>InProcess</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>5d4291af-0849-44b2-b6bb-e2124cb191e3</td>
        <td>СП ООО "O'ZMALOYL"</td>
        <td>20/12/2021</td>
        <td>САМАРКАНД</td>
        <td>ТАШКЕНТ</td>
        <td>2</td>
        <td>2122</td>
        <td>760Ф(СКРСТ)</td>
        <td>Эконом</td>
        <td>Безналичному</td>
        <td>2021-12-09 10:36:03</td>
        <td>2021-12-09 10:36:03</td>
        <td>InProcess</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>5d4291af-0849-44b2-b6bb-e2124cb191e3</td>
        <td>СП ООО "O'ZMALOYL"</td>
        <td>20/12/2021</td>
        <td>САМАРКАНД</td>
        <td>ТАШКЕНТ</td>
        <td>2</td>
        <td>2122</td>
        <td>760Ф(СКРСТ)</td>
        <td>Эконом</td>
        <td>Безналичному</td>
        <td>2021-12-09 10:36:03</td>
        <td>2021-12-09 10:36:03</td>
        <td>InProcess</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>5d4291af-0849-44b2-b6bb-e2124cb191e3</td>
        <td>СП ООО "O'ZMALOYL"</td>
        <td>20/12/2021</td>
        <td>САМАРКАНД</td>
        <td>ТАШКЕНТ</td>
        <td>2</td>
        <td>2122</td>
        <td>760Ф(СКРСТ)</td>
        <td>Эконом</td>
        <td>Безналичному</td>
        <td>2021-12-09 10:36:03</td>
        <td>2021-12-09 10:36:03</td>
        <td>InProcess</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>5d4291af-0849-44b2-b6bb-e2124cb191e3</td>
        <td>СП ООО "O'ZMALOYL"</td>
        <td>20/12/2021</td>
        <td>САМАРКАНД</td>
        <td>ТАШКЕНТ</td>
        <td>2</td>
        <td>2122</td>
        <td>760Ф(СКРСТ)</td>
        <td>Эконом</td>
        <td>Безналичному</td>
        <td>2021-12-09 10:36:03</td>
        <td>2021-12-09 10:36:03</td>
        <td>InProcess</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>5d4291af-0849-44b2-b6bb-e2124cb191e3</td>
        <td>СП ООО "O'ZMALOYL"</td>
        <td>20/12/2021</td>
        <td>САМАРКАНД</td>
        <td>ТАШКЕНТ</td>
        <td>2</td>
        <td>2122</td>
        <td>760Ф(СКРСТ)</td>
        <td>Эконом</td>
        <td>Безналичному</td>
        <td>2021-12-09 10:36:03</td>
        <td>2021-12-09 10:36:03</td>
        <td>InProcess</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>c782f558-d7b3-41df-9143-4e08343916a9</td>
        <td>5d4291af-0849-44b2-b6bb-e2124cb191e3</td>
        <td>СП ООО "O'ZMALOYL"</td>
        <td>20/12/2021</td>
        <td>САМАРКАНД</td>
        <td>ТАШКЕНТ</td>
        <td>2</td>
        <td>2122</td>
        <td>760Ф(СКРСТ)</td>
        <td>Эконом</td>
        <td>Безналичному</td>
        <td>2021-12-09 10:36:03</td>
        <td>2021-12-09 10:36:03</td>
        <td>InProcess</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>ID пользователя</th>
        <th>ID заказа</th>
        <th>Наименования</th>
        <th>Дата отправки</th>
        <th>Откуда</th>
        <th>Куда</th>
        <th>Количество пассажиров</th>
        <th>Номер заказа</th>
        <th>Номер поезда</th>
        <th>Тип поезда</th>
        <th>Тип оплаты</th>
        <th>Дата создания</th>
        <th>Дата обновления</th>
        <th>Статус заказа</th>
        <th>Действие</th>
      </tr>
      </tfoot>
    </table>
    <div class="data-total">
      <div class="data-total__part">
        10 заказов на каждой странице. Общее количество заказов 234
      </div>

      <div class="data-total__part">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Предыдущий</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Следующий</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>
