.notice-form {
  color: rgba(13, 27, 62, 0.7);
}

.notice-heading {
  font-size: 14px;
  font-weight: 700;
}

.notice-label__text {
  font-size: 14px;
}

.notice-input, .notice-btn {
  font-size: 14px;
}

.notice-textarea {
  min-height: 150px;
}
