<header class="app-header">
  <div class="app-header__icon">
    <i class="fas fa-users"></i>
  </div>
  <div class="app-header__text">
    <h2 class="app-header__heading">Таблица пользователей</h2>
    <p class="app-header__description">Жд веб сайты зарегистрированные пользователей</p>
  </div>
</header>

<main class="app-main">
  <div class="app-card app-card--users">
    <div class="data-filter">
      <div class="data-filter__part">
        <label for="count">На одной странице: </label>
        <select class="form-control" name="count" id="count">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="data-filter__part">
        <label for="search">Поиск: </label>
        <input class="form-control" id="search" type="text">
      </div>
    </div>
    <table class="data-table table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>Имя пользователя</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Активный</th>
        <th>Дата создания</th>
        <th>Тип регистрации</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>sultonbayevogabek</td>
        <td>Sultonbayev Og'abek</td>
        <td>+998999639773</td>
        <td>
          <label class="d-flex align-items-center">
            <input class="form-check-input me-1" type="checkbox" checked>
            <span>Активный</span>
          </label>
        </td>
        <td>31.10.1999</td>
        <td>Google</td>
        <td>
          <a class="data-action" href="#" title="Посмотреть">
            <i class="fas fa-clipboard"></i>
          </a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Имя пользователя</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Активный</th>
        <th>Дата создания</th>
        <th>Тип регистрации</th>
        <th>Действие</th>
      </tr>
      </tfoot>
    </table>
    <div class="data-total">
      <div class="data-total__part">
        10 пользователей на каждой странице. Общее количество пользователей 234423
      </div>

      <div class="data-total__part">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Предыдущий</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Следующий</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>

